/*html{
    height: 100%;
}*/

body{
    font-family: 'Roboto';
    /*height: 100%;*/
}

.container{
    max-width: 961px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px){

}


@media screen and (max-width: 960px){

}

@media screen and (max-width: 767px){

    .content {
        margin: 0 15px;
    }

    header .header-flex{
        display: block;
        margin-bottom: 25px;

    }

    .header-box{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .menu-burger{
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        margin-top: 10px;
        float: right;
    }

    .menu-burger span{
        position: absolute;
        background-color: #9B51E0;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    .menu-burger:before,.about-heading-wrapper
    .menu-burger:after{
        content: '';
        background-color: #9B51E0;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .menu-burger:before{
        top: 0;
    }

    .menu-burger:after{
        bottom: 0;
    }

    .content nav{
        display: none;
        top: 25px;
        flex-direction: column;
        height: 50px;
        align-items: flex-end;
        position: relative;
    }

    .content .is-active{
        display: block;
    }

    .content nav a{
        font-size: 10px;
        justify-content: flex-end;
    }

    .slider {
       margin-top: 50px;
    }

    .service-posts-box{
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .slider-text{
        margin-right: 40px;
    }


        .slider-text .slider-text-heading {
            font-size: 26px;
            line-height: 26px;
            margin-bottom: 30px;
            margin-top: 68px;




    }

    .slider-text .slider-p {
        font-size: 12px;
        text-align: justify;
    }

    .about-us .about-worker {
        margin-bottom: 90px;
    }

    .video-audio-box{
        flex-wrap: wrap;
    }

    .slider-p-btn .slider-read-more{
        font-size: 12px;
        width: 103px;
        height: 23px;
    }

    .service-box {
        padding-bottom: 15px;
    }

    .about-heading-wrapper .about-heading{
        margin-right: 200px;
    }

    /*.clients-logo{
        flex-wrap: wrap;
    }*/

    .clients-logo img{
        width: 41px;
        height: 30px;
    }

    .is-active{
        display: block;
    }

}

.progress{
    content: "";
    height: 5px;
    background-color: #9B51E0;
    display: block;
}

.header-flex{
    margin-top: 25px;
    height: 89px;
    display: flex;
    justify-content: space-between;
}

.logo-left{
    text-decoration: none;
    position: relative;
}

.logo-rectangle{
    box-sizing: border-box;
    width: 50px;
    height: 48px;
    background: #FFFFFF;
    border: 3px solid #FFC740;
}

.logo-text{
    width: 143px;
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    background-color: #FFFFFF;
    position: absolute;
    top: 12px;
    left: 25px;
}

.form-search {
    box-sizing: border-box;
    width: 201px;
    height: 33px;
    background: #FFFFFF;
    position: relative;
}

.input-search{
    width: 201px;
    height: 33px;
    border: 1px solid #6D3D99;
    background-color: #FFFFFF;
}

.input-search:focus{
    outline: none;
}

.button-submit{
    width: 42px;
    height: 31px;
    left: 159px;
    bottom: 1px;
    background-color: #9B51E0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 0;
    border: 0;
    position: absolute;
}

/*.menu-burger{
    display: none;
}*/

.menu{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.menu a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #050505;
    width: 123px;
    height: 47px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav :first-child{
    background-color: #FFC740 ;
    color: #FFFFFF;
}

.menu a:hover{
    background: #FFC740;
    color: #FFFFFF;
}

.slider{
    height: 362px;
    background: url(./../img/Mountains.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.slider:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 45, 45, 0.5);
}

.slider-text {
    position: absolute;
    max-width: 509px;
    height: 150px;
    margin-left: 44px;
    margin-top: 10px;
}

.slider-text-heading{
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    color: #FFC740;
}

.slider-p-btn {
    height: 133px;
    max-width: 451px;
}

.slider-p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 6px;
}

.slider-read-more{
    text-decoration: none;
    width: 125px;
    height: 34px;
    background: #6D3D99;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.about-us{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-worker {
    text-align: justify;
    margin-left: 11px;
    margin-bottom: 33px;
    width: 450px;
    height: 173px;
}

.about-heading-wrapper{
    display: block;
    content: "";
    background-color: #9B51E0;
    /*width: 460px;*/
    height: 16px;
}

.about-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    background-color: #FFFFFF;
    margin-left: 16px;
    margin-right: 275px;
    padding-left: 4px;
}

.yelow-line{
    background-color: #FFC740;
}

.about-info{
    display: flex;
    margin-top: 15px;
    height: 141px;
}

.about-info-foto{
    margin-right: 20px;
    border: 2px solid #FFC740;
    background-size: contain;
    padding: 1px;
}

.about-info-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 21px;
}

.about-info-text-btn{
    text-decoration: underline;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.about-info-text-author{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.service-posts-box{
    display: flex;
    justify-content: space-around;
    margin-top: 33px;
    margin-bottom: 33px;
}

.service-box{
    width: 301px;
}

.service-heading{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.service-box-wrapper {
    display: block;
    content: "";
    background-color: #FFC740;
    height: 16px;
    margin-bottom: 16px;
}

.service-box-heading{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    background-color: #FFFFFF;
    margin-left: 16px;
    margin-right: 212px;
    padding-left: 4px;
}

.service-box-info-text-box{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
}

.service-box-info-text{
    margin-bottom: 28px;
}

.service-box-info-text-btn{
    text-decoration: underline;
}


.video-audio-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.audio-box{
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
}

.audio-box p{
    text-align: justify;
}


.audio-box audio{
    margin-top: 10px;
}

.resent-posts-box{
    display: flex;
}

.phone{
    margin-bottom: 12px;
    margin-top: 12px;
}

.phone img{
    border: 1px #d7cdcd solid;
}

.violet-line{
    background-color: #9B51E0;
}

.violet-line h3{
    margin-right: 179px;
}

.resent-posts-box img{
    margin-right: 10px;
    background-size: contain;
}

.resent-posts-box h4{
    margin-bottom: 1px;
}

.clients-heading-wrapper{
    display: block;
    content: "";
    background-color: #9B51E0;
    height: 16px;
    margin-bottom: 10px;
}

.clients-heading-wrapper h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left: 16px;
    margin-right: 883px;
    background-color: #FFFFFF;
    padding-left: 4px;
}

.clients-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex: 1;
}

footer{
    height: 115px;
    background: #6D3D99;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}